body.body-admin{
    background-color: white;
}

.navbar {
    background-color: #00cc5f !important;
}

.navbar-brand, .nav-link {
    color: white !important;
}


.table-title {
    text-align: center;
    background-color: #00cc5f;
    color: white;
}

table {
    text-align: center;
}

.tableShow{
    margin: 60px;
}

.btn-bottom { 
    border-radius: 60px;
    font-size: large;
    background-color: #00cc5f !important;
    color: white;
}

.btn-bottom:hover {
    background-color: white !important;
    border: 2px solid #00cc5f;
    color: #00cc5f;
}

.nav-link .active {
    font-weight: bold;
}