section {
    margin: 50px;
}

.card-body {
    text-align: left;
}

.center {
    text-align: center !important;
}

.card-header {
    background-color: #00cc5f !important;
    color: white !important;
    font-weight: bold;
}

.card-footer {
    background-color: white !important;
}

a.tienda {
    color: #00cc5f;
    font-weight: bold;
}

.pay{
    width: 100%;
}


.btn-bottom { 
    border-radius: 60px !important;
    background-color: #00cc5f !important;
    color: white;
}

.btn-bottom:hover {
    background-color: white !important;
    border: 2px solid #00cc5f !important;
    color: #00cc5f !important;
}

.btn-remove { 
    width: 100%;
    border-radius: 60px !important;
    background-color: red !important;
    color: white !important;
}

.btn-remove:hover {
    background-color: white !important;
    border: 2px solid red !important;
    color: red!important;
}

.btn-error, .btn-error:hover { 
    width: 100% !important;
    border-radius: 60px !important;
    background-color: red !important;
    color: white !important;
}

#imagemodal .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
}

#imagemodal .modal-content {
    width: 100%;
    height: 90%;
    border-radius: 0;
}

.modal-body {
    text-align: center;
}

.imagepreview {
    width: 55%;
    height: 70%;
}

.marginAuto {
    margin: auto;
}

.dataPay {
    text-align: left;
}

.center {
    text-align: center;
}

.ajs-message {
    color: white;
}