section {
    margin: 50px;
}

.navbar {
    background-color: #00cc5f !important;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.card-body {
    text-align: left;
}

.center {
    text-align: center !important;
}

.card-header {
    background-color: #00cc5f !important;
    color: white !important;
    font-weight: bold;
}

.card-footer {
    background-color: #e6e6e6 !important;
}

a.tienda {
    color: #00cc5f;
    font-weight: bold;
}

.pay{
    width: 100%;
}


.btn-bottom { 
    border-radius: 60px;
    font-size: large;
    background-color: #00cc5f !important;
    color: white;
}

.btn-bottom:hover {
    background-color: white !important;
    border: 2px solid #00cc5f;
    color: #00cc5f;
}

.btn-remove { 
    width: 150px;
    border-radius: 60px;
    font-size: large;
    background-color: red !important;
    color: white;
}

.btn-remove:hover {
    background-color: white !important;
    border: 2px solid red;
    color: red;
}

.btn-error, .btn-error:hover { 
    width: 100%;
    border-radius: 60px;
    font-size: large;
    background-color: red !important;
    color: white;
}

#imagemodal .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
}

#imagemodal .modal-content {
    width: 100%;
    height: 90%;
    border-radius: 0;
}

.modal-body {
    text-align: center;
}

.imagepreview {
    width: 55%;
    height: 70%;
}

.marginAuto {
    margin: auto;
}

.dataPay {
    text-align: left;
}

.center {
    text-align: center;
}

.ajs-message {
    color: white;
}