:root {
    --primary-color-2: #ffa200;
    /* --primary-color-2: #00cc5f; ctpaga */
    --primary-bg-color-2: linear-gradient(-47deg, #f5b950 0%, #ffa200 100%); 
    /* --primary-bg-color-2: linear-gradient(-47deg, #00cc5f 0%, #039145 100%); ctpaga */
    --primary-bg-color-3: #ffffff;
    --primary-bg-color-4: #ffa200;
    /* --primary-bg-color-4: #00cc5f; ctpaga */
    --nav-bg-color: #d3d3d3;
}

section {
    margin: 50px;
}

.card-body {
    text-align: left;
}

.center {
    text-align: center !important;
}

.card-headerColor {
    background-color: var(--primary-color-2) !important;
    color: white !important;
    font-weight: bold;
}

.card-footer {
    background-color: white !important;
}

a.tienda {
    color: var(--primary-color-2);
    font-weight: bold;
}

a.tienda:hover {
    color: #585858;
    font-weight: bold;
}

.pay{
    width: 100%;
}


.btn-bottom { 
    border-radius: 60px !important;
    background-color: var(--primary-color-2) !important;
    color: white;
}

.btn-bottom:hover {
    background-color: white !important;
    border: 2px solid var(--primary-color-2) !important;
    color: var(--primary-color-2) !important;
}

.btn-remove { 
    width: 100%;
    border-radius: 60px !important;
    background-color: red !important;
    color: white !important;
}

.btn-remove:hover {
    background-color: white !important;
    border: 2px solid red !important;
    color: red!important;
}

.btn-error, .btn-error:hover { 
    width: 100% !important;
    border-radius: 60px !important;
    background-color: red !important;
    color: white !important;
}

.modal-body {
    text-align: center;
}

.imagepreview {
    max-height: 20em;
}

.marginAuto {
    margin: auto;
}

.dataPay {
    text-align: left;
}

.center {
    text-align: center;
}

.ajs-message {
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00cc5f;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00cc5f;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.iconsClose , .iconsVerified {
    padding-bottom: 5px;
    font-size: 35px !important;
    margin: 5px;
}

.iconsClose {
    color: red;
}

.iconsVerified {
    color: #00cc5f;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loadingTransparent.gif') 50% 50% no-repeat rgb(249,249,249);
}

.circleColor{
    display: inline-block;
    border-radius: 100%;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.positionText{
    position: relative;
    bottom: 14px;
}

.positionTextName {
    margin-left: 10px;
}

.linkDelivery, .linkDelivery:visited {
    color:#00cc5f
}

.linkDelivery:hover {
    color: #585858
}

.notBorder {
    border-bottom: 0px solid rgba(0,0,0,.125) !important;
}