body {
    background-color: #e6e6e6;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

div.result {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a.store {
    width: 70%;
}

label{
    padding-top: 20px;
}

label.noPadding{
    padding-left: 10px;
    padding-top: 0px;
}

div.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}

.form-section.center{
    padding-left: 15px;
    padding-right: 15px;
    display: none;
    text-align: center;
}

.form-section{
    padding-left: 15px;
    padding-right: 15px;
    display: none;
    text-align: justify;
}

.form-section.current{
    display: inherit;
}

.card-header {
    background-color: white !important;
}

.parsley-error-list{
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    color: #00cc5f;
}

.form-navigation.bottom {
    padding-top: 20px;
}

.btn-bottom { 
    width: 100%;
    border-radius: 60px;
    font-size: large;
    background-color: #00cc5f !important;
    color: white;
}


.btn-bottom:hover {
    background-color: white !important;
    border: 2px solid #00cc5f;
    color: #00cc5f;
}

.parsley-errors-list {
    color: red;
}