body {
    background-color: #e6e6e6;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

label{
    padding-top: 20px;
}

.center{
    text-align: center;
}

.form-section.center{
    padding-left: 15px;
    padding-right: 15px;
    display: none;
    text-align: center;
}

.form-section{
    padding-left: 15px;
    padding-right: 15px;
    display: none;
    text-align: justify;
}

.form-section.current{
    display: inherit;
}

.card-header {
    background-color: white !important;
}

.form-sales {
    padding-top: 10px;
}

.parsley-error-list{
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    color: #00cc5f;
}

span#coin{
    font-size:25px;
    position: relative;
    bottom: 10px;
}

span#total{
    font-size:40px;
}

div.sales, div.shippings {
    border-radius: 60px;
    padding: 15px;
    border: 2px solid #00cc5f;
    background-color: #e6e6e6;
    color:black;
    margin-bottom: 20px;
}

div#desingQuantity{
    background-color: white;
    border-radius:100%;
    padding: 5px;
}

div.shippings:hover{
    box-shadow: 0 0 0 10px #e6e6e6;
    transition: .5s ease;
}

div.name, div.description, div.description-shippings{
    padding-top: 5px;
    padding-left: 20px;
    text-align: left;
}

div.description-shippings{
    padding-left: 0px;
}

div.total{
    padding: 5px;
    text-align: right;
}

div.shipping-price{
    padding: 5px;
    text-align: right;
}


.form-navigation.bottom {
    padding-top: 20px;
}

.btn-bottom { 
    width: 100%;
    border-radius: 60px;
    font-size: large;
    background-color: #00cc5f !important;
    color: white;
}


.btn-bottom:hover {
    background-color: white !important;
    border: 2px solid #00cc5f;
    color: #00cc5f;
}

.bi-chevron-left{
    color: #00cc5f;
}

.parsley-errors-list {
    color: red;
}

.bi-check-circle-fill {
    color: #00cc5f;
}

.radio-shippings {
    width: 0;
    height: 0;
}

